.section-works {
  padding-bottom: 94px;
  @media screen and (max-width: 1200px) {
    display: none;
  }
}
.work {
  display: flex;
  justify-content: space-between;
  a {
    position: relative;
  }
}
.img-content {
  position: absolute;
  bottom: 77px;
  width: 100%;
  bottom: 0;
  color: var(--primary-bg-color);
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
}
.img-title {
  color: var(--primary-bg-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
