:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --btn-bg-color: #f5f4fa;
  --socialIkon-color: #afb1b8;
}
